.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid rgb(5, 23, 99);
  padding: 10px;
}

.header{
  padding: 10px;
}

body{
  padding: 10px;
  background-color: rgb(104, 161, 235);
}